<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/index01.css">
    <title>인덱스페이지</title>
</head>
<body>
    <div class="container">
        <div class="main_image">
            <img src="/img/karrot.png" alt="당근아이콘">
        </div>
        <div class="main_text">
            <strong>당신 근처의 Karrot 마켓</strong>
            <span>이제 동네에서 간편하게 중고거래 하자</span>
        </div>
        <a class="signup" href="/signup">시작하기</a>
        <div class="signin">
            <span>이미 계정이 있나요?</span>
            <a href="/signin">로그인</a>
        </div>
    </div>
</body>
</html>