.container{margin: 20px 15px}

.back{position: absolute;left: 10px;top: 15px; display: inline-block; width: 46px;z-index:1}
.back img{width: 20px;}
/* back */

.category_header{text-align:center}
/* category */

#sec_header{margin: 0 0 30px; position: relative;}

#sec_header h3{display: inline;}
#sec_header >div{display: inline; float: right;}
#sec_header >div >a{display: inline-block; width: 20px;}


#sec_content{}
#sec_content >div{padding: 10px 0; border-top: 1px  solid #ccc;}
#sec_content >div.cont{}
#sec_content >div div.cont_img{display: inline-block; width:30%; vertical-align: top;}
#sec_content >div div.cont_desc{display: inline-block; width: 60%; font-size: 14px;vertical-align: middle;}
#sec_content >div div.cont_desc >div{padding: 0 0 10px 0}
#sec_content >div div.cont_desc >div >div{font-size:14px;}
#sec_content >div div.cont_desc >div >div.gray1{padding:3px 0; 5px;}
#sec_content >div div.cont_desc >div >div.gray1 >div{font-size:6px; color:#a3a3a3; display: inline-block}
#sec_content >div div.cont_desc >div >div.price{display:inline-block; font-weight: bold;}
#sec_content >div div.cont_desc >div >div.won{display:inline-block; font-weight: bold;}
#sec_content >div div.cont_desc .service{float:right}
#sec_content >div div.cont_desc .service div{display: inline-block;}
#sec_content >div div.cont_desc .service img{width: 20px;}


/*position: absolute; bottom: 0;left: 0;  고정  */

#sec_footer{position:fixed; bottom:0; right:0; width: 100%;background-color: #fff;padding: 10px 0;border-top: 1px solid #ccc;}
#sec_footer >div{width: 50%; margin:0 auto}
#sec_footer >div >a{display: inline-block; width: 48%; text-align: center;}
#sec_footer >div >a img{width: 30px;}
#sec_footer >div >a span{display: block;}

#sec_footer a.btn_register{ width: 20px;display: inline-block;position: absolute;right: 60px;bottom:110px;}
#sec_footer a.btn_register img{background:coral; padding:13px; border-radius: 50%}