<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/all.css">
    <title>전체 상품 페이지</title>
</head>
<body>
    <div class="container">
        <a href="#" class="back">
            <img src="/img/left-arrow.png" alt="화살표">
            <h3>판매상품 보기</h3>
        </a>
        <div class="tabmenu">
            <ul>
                <li id="tab1" class="btnCon">
                    <a class="btn first" href="#tab1">전체</a>
                    <section class="tabCon">
                        <div class="cont">
                            <a href="#" class="cont_img">
                                <img src="/img/product01.png" alt="상품_이미지">
                            </a>
                            <div class="cont_desc">
                                <div>
                                    <div class="title">제목</div>
                                    <div class="location">장소</div>
                                    <div class="price">가격</div>
                                </div> 
                                <div class="service">
                                    <a href="#" class="comment"><img src="/img/comment.png" alt="댓글">n</a>
                                    <a class="likes"><img src="/img/likes.png" alt="좋아요">n</a>
                                </div>
                            </div>
                        </div>
                        <!-- content-->   
                        <div class="cont">
                            <a href="#" class="cont_img">
                                <img src="/img/product03.png" alt="상품_이미지">
                            </a>
                            <div class="cont_desc">
                                <div>
                                    <div class="title">제목</div>
                                    <div class="location">장소</div>
                                    <div class="price">가격</div>
                                </div> 
                                <div class="service">
                                    <a href="#" class="comment"><img src="/img/comment.png" alt="댓글">n</a>
                                    <a class="likes"><img src="/img/likes.png" alt="좋아요">n</a>
                                </div>
                            </div>
                        </div>
                        <!-- content-->    
                        <div class="cont">
                            <a href="#" class="cont_img">
                                <img src="/img/product04.png" alt="상품_이미지">
                            </a>
                            <div class="cont_desc">
                                <div>
                                    <div class="title">제목</div>
                                    <div class="location">장소</div>
                                    <div class="price">가격</div>
                                </div> 
                                <div class="service">
                                    <a href="#" class="comment"><img src="/img/comment.png" alt="댓글">n</a>
                                    <a class="likes"><img src="/img/likes.png" alt="좋아요">n</a>
                                </div>
                            </div>
                        </div>
                        <!-- content-->              
                    </section>
                </li>
                <li id="tab2" class="btnCon">
                    <a class="btn" href="#tab2">판매중</a>
                    <section class="tabCon">
                        <div class="cont">
                            <a href="#" class="cont_img">
                                <img src="/img/product01.png" alt="상품_이미지">
                            </a>
                            <div class="cont_desc">
                                <div>
                                    <div class="title">제목</div>
                                    <div class="location">장소</div>
                                    <div class="price">가격</div>
                                </div> 
                                <div class="service">
                                    <a href="#" class="comment"><img src="/img/comment.png" alt="댓글">n</a>
                                    <a class="likes"><img src="/img/likes.png" alt="좋아요">n</a>
                                </div>
                            </div>
                        </div>
                        <!-- content-->       
                    </section>
                </li>
                <li id="tab3" class="btnCon">
                    <a class="btn" href="#tab3">판매중</a>
                    <section class="tabCon">
                        <div class="cont">
                            <a href="#" class="cont_img">
                                <img src="/img/product01.png" alt="상품_이미지">
                            </a>
                            <div class="cont_desc">
                                <div>
                                    <div class="title">제목</div>
                                    <div class="location">장소</div>
                                    <div class="price">가격</div>
                                </div> 
                                <div class="service">
                                    <a href="#" class="comment"><img src="/img/comment.png" alt="댓글">n</a>
                                    <a class="likes"><img src="/img/likes.png" alt="좋아요">n</a>
                                </div>
                            </div>
                        </div>
                        <!-- content-->   
                        <div class="cont">
                            <a href="#" class="cont_img">
                                <img src="/img/product02.png" alt="상품_이미지">
                            </a>
                            <div class="cont_desc">
                                <div>
                                    <div class="title">제목</div>
                                    <div class="location">장소</div>
                                    <div class="price">가격</div>
                                </div> 
                                <div class="service">
                                    <a href="#" class="comment"><img src="/img/comment.png" alt="댓글">n</a>
                                    <a class="likes"><img src="/img/likes.png" alt="좋아요">n</a>
                                </div>
                            </div>
                        </div>
                        <!-- content-->             
                    </section>
                </li>
            </ul>
        </div>
        <!-- header -->        
    </div>
  
    
  </body>
  <script src="../../static/js/all.js"></script>
  
</html>