<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/randing.css">
    <title>카테고리 페이지</title>
</head>
<body>
    <div class="container">
        <section id="sec_header">
            <h3 th:text="${category.krName}">카테고리</h3>
            <div class="clear">
                <a onclick="callFunction();">
                    <img src="/img/search.png" alt="검색">
                </a>
                <a href="/product/category">
                    <img src="/img/menu.png" alt="리스트">
                </a>
            </div>
        </section>
        <!-- header -->
        <section id="sec_content" >
            <div class="cont" th:each="product : ${product}">
                <div class="cont_img">
                    <a th:href="|/product/${product.productId}|">
                        <img src="/img/product01.png" th:src="${product.coverImage}" alt="상품_이미지">
                    </a>
                </div>
                <div class="cont_desc">
                    <div>
                        <div class="title" th:text="${product.title}">제목</div>
                        <div class="gray1">
                            <div class="location" th:text="${product.place}">장소</div>
                            <div class="registerTime" th:text="${product.registerTime}">몇 분전</div>
                        </div>
                        <div class="price" th:text="${product.price}"> 가격</div>
                        <div class="won">원</div>
                    </div>
                    <div class="service">
                        <div href="#" class="comment">
                            <img src="/img/comment.png" alt="댓글">
                            <span class="commentCount">n</span>
                        </div>
                        <div class="likes" th:if="${product.likesStatus}">
                            <img class="likeStatus" src="/img/heart.png" alt="좋아요">
                        </div>
                        <div class="likes" th:unless="${product.likesStatus}">
                            <img class="likeStatus" src="/img/likes.png" alt="빈 좋아요">
                        </div>
                        <span class="likeCount" th:text="${product.likesCount}">n</span>
                    </div>
                </div>
            </div>
            <!-- content-->
        </section>
        
        <section id="sec_footer">
            <a class="btn_register" href="/product/register">
                <img src="/img/plus (1).png" alt="">
            </a>
            <div class="clear">
                <a class="home" href="/product/randing">
                    <img src="/img/home.png" alt="home">
                    <span>홈</span>
                </a>
                <a class="mypage" onclick="callFunction();">
                    <img src="/img/mypage.png" alt="mypage">
                    <span>나의 당근</span>
                </a>
            </div>
        </section>
        <!-- footer-->
    </div>
    <script src="/js/randing.js"></script>
    
  </body>
  
</html>