<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>상품페이지</title>
</head>
<body>
    <div class="container">
        <a href="#" onClick="history.back()" class="back">
            <img src="/img/left-arrow.png" alt="화살표">
            <img src="/img/home.png" alt="home">
        </a>
        <section id="sec_01">
            <div class="product_img" th:each="image : ${product.images}">
                <img src="/img/product01.png" alt="f2" th:src="${image}">
            </div>
        </section>
        <!-- swiper -->
        <!-- sec_01 -->
        <section id="sec_02">
            <div class="profile">
                <img src="/img/profile.png" alt="프로필">
                <div>
                    <span class="nickName" th:text="${product.nickName}">닉네임</span>
                    <span class="place" th:text="${product.place}">동네</span>
                </div>
            </div>
            <div class="prod_desc clear">
                <div>
                    <span class="title" th:text="${product.title}">제목</span>
                </div>
                <div class="gray">
                    <span class="category" th:val="${product.category}" th:text="${product.category.krName}">카테고리</span>
                    <span>*</span>
                    <span class="uploadTime" th:text="${product.registerTime}">게시시간</span>
                </div>
                <div>
                     <div class="cont" th:text="${product.caption}">본문</div>
                </div>
                <div class="gray">
                    관심 <div class="likes" th:text="${product.likesCount}">n</div>
                </div>
                <div class="price">
                    <span th:text="${product.price}">가격</span>
                    <span>원</span>
                </div>
            </div>
        </section>
        <!-- sec_02 -->
        <section id="sec_03">
            <div class="product_caption clear">
                <strong th:text="${product.nickName}">닉네님</strong>의 판매 상품
                <a class="showall" href="/product/all" >모두보기</a>
            </div>
            <div class="products">
                <div th:each="prod : ${product.t4Prods}">
                    <a th:href="|/product/${prod.productId}|">
                        <img src="/img/product01.png" th:src="${prod.coverImage}" alt="상품이미지01">
                    </a>
                    <span th:text="${prod.title}">제목</span>
                    <span th:text="${prod.price}">가격</span>
                </div>

            </div>
            <div class="empty"></div>
            <!-- content -->
        </section>
        <!-- sec_03 -->
        <section id="sec_04">
            <div class="icon">
                <div class="likebtn" id="likebtn" th:val="${product.productId}">
                    <div th:if="${product.likesStatus}" th:val="${product.likesStatus}">
                        <img src="/img/heart.png" alt="좋아요이미지" >
                    </div>
                    <div th:unless="${product.likesStatus}" th:val="${product.likesStatus}">
                        <img src="/img/likes.png" alt="좋아요이미지" >
                    </div>
                </div>
            </div>
            <div class="comment">
                <input type="hidden" id="productId" name="" th:val="${product.productId}">
                <div th:if="${product.userId} == ${principal.id}">
                    <a class="chatlist" th:href="@{'/chat/rooms/' + ${principal.id}}" th:val="${product.userId}">채팅 목록 보기</a>
                </div>
                <div th:unless="${product.userId} == ${principal.id}">
                    <a class="chat" th:val="${product.userId}">채팅으로 거래하기</a>
                </div>
            </div>
        </section>
        <!-- sec_04 --> 
    </div>
    <script src="/js/product.js"></script>

  </body>
  
</html>