<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>상품페이지</title>
</head>
<body>
    <div class="container">
        <a href="#" class="back">
            <img src="/img/left-arrow.png" alt="화살표">
            <img src="/img/home.png" alt="home">
        </a>
        <section id="sec_01">
            <div class="product_img">
                <img src="/img/product01.png" alt="상품이미지">
            </div>
        </section>
        <!-- swiper -->
        <!-- sec_01 -->
        <section id="sec_02">
            <div class="profile">
                <img src="/img/profile.png" alt="프로필">
                <span class="nickName">닉네임</span>
            </div>
            <div class="prod_desc">
                <div>
                    <span class="title">제목</span>
                    <span class="price">가격</span>
                </div>
                <div>
                    <span class="category">카테고리</span>
                    <span class="uploadTime">게시시간</span>
                </div>
                <div class="cont">본문</div>
                <div class="likes">관심 n</div>
            </div>
        </section>
        <!-- sec_02 -->
        <section id="sec_03">
            <div class="product_caption clear">
                <strong>닉네님의 판매 상품</strong>
                <a class="showall" href="/product/all" >모두보기</a>
            </div>
            <div class="products">
                <a>
                    <img src="/img/product01.png" alt="상품이미지01">
                    <span>제목</span>
                    <span>가격</span>
                </a>
                <a>
                    <img src="/img/product02.png" alt="상품이미지02">
                    <span>제목</span>
                    <span>가격</span>
                </a>
                <a>
                    <img src="/img/product03.png" alt="상품이미지03">
                    <span>제목</span>
                    <span>가격</span>
                </a>
                <a>
                    <img src="/img/product04.png" alt="상품이미지04">
                    <span>제목</span>
                    <span>가격</span>
                </a>
            </div>
        </section>
        <!-- sec_03 -->
        <section id="sec_04">
            <div class="icon">
                <a class="likebtn" href="#">
                    <img src="/img/likes.png" alt="좋아요이미지">
                </a>
                <div class="commentbtn">
                    <img src="/img/comment.png" alt="댓글 이미지">
                </div>
            </div>
            <div class="comment">
                <a href="#">댓글보기</a>
                <a href="#">댓글남기기</a>
            </div>
        </section>
        <!-- sec_04 --> 
    </div> 
  </body>
  
</html>